.feature-section {
  padding: 40px 0;
  overflow: hidden;
}
.feature-slide{
  padding: 10px;
  outline: none;
}

.feature-section .card {
  border: none !important;
  text-align: center;
  margin-bottom: 14px;
  padding: 0 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: none !important;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}
.feature-section .card:hover{
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);


}

.feature-section .card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 20px auto 10px;
  border-radius: 50%;
} 

.feature-section .card .card-title {
  font-size: var(--subTitle);
  padding: 20px 0;
  font-weight: bold;
}

.feature-section .card .card-text {
  font-size: var(--bodyText);
  line-height: 22px;
  color: var(--textClr);
  flex-grow: 1;
}

.feature-section .card:hover .card-title {
  color: var(--primaryClr);
}
.slick-dots li button:before {
  font-size: 10px;
  color: #bbb;
}

.slick-dots li.slick-active button:before {
  color: var(--primaryClr, #007bff);
}

/* Slick Arrows */
.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: var(--primaryClr, #007bff);
}

.slick-prev {
  left: -45px;
}

.slick-next {
  right: -45px;
}
